:root {
  --background: #ffffff;
  --foreground: #171717;
  --text: yellow;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
    --text: orange;
  }
}
